[project]
name = "telethon-job"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "python-dotenv>=1.2.1",
    "stagehand>=0.5.9",
    "telethon>=1.42.0",
]
